<p>{{title}}</p>
<hr>
<button class="withButton" (click)="addCard()">+</button>
<div class="card" cdkDropList [cdkDropListData]="cards" (cdkDropListDropped)="drop($event)">
    <div *ngFor='let card of cards' cdkDrag>
        <app-comment id={{card.id}} like={{card.like}} [tasks]="card.tasks" [comments]="card.comments"
            (likeClicked)="handleLikeCLicked($event)">
        </app-comment>
    </div>
</div>