.inside {
  border: 8px solid white;
  padding: 16px;
  background-color: rgb(81, 110, 36);
}
.inputComment {
  width: 100%;
  background-color: #3cbc8d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-bottom: -3%;
}
.icons {
  text-align: right;
}
.commentText {
  flex: 1;
}
/* .commentText {
  background-color: rgb(58, 80, 26);
} */
.bnm {
  flex: 1;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(58, 80, 26);
}
.pencil {
  display: block;
}
.task {
  font-weight: bold;
  text-align: left;
  font-family: cursive;
}
