<div>
    <div class="inside">
        <div class="icons">
            <span class="pencil" (click)="addTask()"><i class="fa fa-pencil" aria-hidden="true"></i></span>
            <span class="pencil"><input type="text" *ngIf="pencil" [(ngModel)]="taskText" (keyup.enter)="taskAdded()"
                    class="inputComment"></span>
            <div *ngFor="let task of tasks" class="task">
                <p>{{task.text | json}}</p>
            </div>
            <i class="fa fa-thumbs-up" aria-hidden="true" (click)="addLike()">{{like}}</i>
            <i class="fa fa-comment" aria-hidden="true" (click)="commentIsPossible()">{{commentNum}}</i>
        </div>
        <div *ngFor="let comment of comments" class="wrapper">
            <p class="commentText">{{comment.text | json}}</p>
            <i class="fa fa-trash bnm" aria-hidden="true" (click)="deleteComment(comment.id)"></i>

        </div>
        <div>
            <input type="text" *ngIf='commentAvailable' [(ngModel)]="commentText" (keyup.enter)="onEnter()" autofocus
                class='inputComment'>
        </div>
    </div>
</div>