.column {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}
.element {
  padding: 16px;
  text-align: center;
  border: 8px solid white;
  /* background-color: #f1f1f1; */
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
}
hr {
  width: 100%;
}
.withButton {
  border: 1px solid grey;
  padding: 9px 50% 15px;
  background-color: #f1f1f1;
}
.card {
  border: 8px solid lightcoral;
  padding: 16px;
}
