<!-- <form name="form1"> -->
<input [(ngModel)]="columnTitle" name="column">
<button (click)='addColumn()'>Add Column</button>
<div cdkDropListGroup class="column">
    <div *ngFor='let column of columns' class="element">
        <app-card [title]='column'></app-card>
    </div>
</div>
<!-- </form> -->